
<br />
<div class="container" routerLink="active">
  <button type="button" class="btn btn-outline-success" [routerLink]="['/persona/form']">REGISTRAR PERSONA</button>
</div>
<br />

<div class="card text-dark bg-info mb-3"  >
    <div class="card-header">Jimmy</div>
    <div class="card-body">
        <table class="table caption-top"> <caption>Lista de Personas</caption>
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">APELLIDO</th>
              <th scope="col">EMAIL</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">TELEFONO</th>
              <th scope="col">CODIGO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemPersona of PersonaLista" class="text-bg-secondary mb-3">
              <td>{{itemPersona.idpersona}}</td>
              <td>{{itemPersona.apellido}}</td>
              <td>{{itemPersona.email}}</td>
              <td>{{itemPersona.nombre}}</td>
              <td>{{itemPersona.telefono}}</td>
              <td>{{itemPersona.iddireccion}}</td>
            </tr>
          </tbody>
          </table>
    </div>
  </div>
