<div class="card bg-light">
    <h5 class="card-header">{{titulo}}</h5>
    <div class="card-body">
      <form (ngSubmit) = "crearAsignatura()">
        <div class="row mb-3">
          <label for="nombre" class="col-sm-2 col-form-label">DENOMINACIÓN</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese la DENOMINACIÓN" [(ngModel)]="asignatura.denominacion" name="nombre">
          </div>
        </div>

        <div class="row mb-3">
          <label for="apellido" class="col-sm-2 col-form-label">CREDITOS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese los CREDITOS" [(ngModel)]="asignatura.creditos" name="apellido">
          </div>
        </div>

        <div class="row mb-3">
            <label for="apellido" class="col-sm-2 col-form-label">SIGLA</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese la SIGLA" [(ngModel)]="asignatura.sigla" name="apellido">
            </div>
          </div>

          
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Cancelar</button>
            <button class="btn btn-primary" role="button">Registrar</button>
          </div>
      </form>
    </div>
  </div>


